/node_modules
/public/build
/public/hot
/public/storage
/public/js/app.js*
/public/js/manifest.js*
/public/js/vendor.js*
/public/js/vuejs_code_split/*
/public/css/app.css
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vscode/launch.json
/.vscode/settings.json
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.backup
.env.production
.phpunit.cache
.phpunit.result.cache
/phpmyadmin
.*.sw?
/**/.*.sw?
/.kdev4
*.kdev4
_ide_helper*
