.editable-text-label {
    text-decoration: underline dotted blue;
    padding: 3px 2px 3px 2px;
}

.editable-text-label i {
    display: none;
}

.editable-text-group:hover i {
    display: inherit;
}
